
#popular-parks-header h1 {
    font-size: 50px; 
    font-weight: bold; 
    text-align: left; 
    margin-bottom: 40px; 
}


.park-item h2 {
    font-size: 25px; 
    font-weight: normal; 
    text-align: left;
    margin: 20px 0; 
}
